.bubbly{
    width: 100%;
    height: 265px;
    
    
    .bubbly__center{
        width: 1336px;
        height: inherit;
        margin: 0 auto;
        
        
        


      .bubbly__centeritemfirst{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row nowrap;
        overflow: hidden;
        gap: 12px;
     
       
        img{
            width: 608px;
            height: 264px;
            border-radius: 16px;
            object-fit: cover;
            display: inline-block;
           
           
            
        }
      }
  

       
    }
}