.impressive {
  width: 100%;
  height: 110px;

  .impressive__center {
    width: 80%;
    height: inherit;
    background-color: lightgray;
    margin: 0 auto;
    border-radius: 16px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;

    .impressive__center__right {
      width: 42%;
      height: inherit;

      display: flex;
      align-items: center;
      padding: 20px;
      flex-flow: row wrap;

      .impressive__center__right__item-1 {
        display: inline-block;
        width: 66px;
        height: 62px;
        object-fit: contain;
      }

      .impressive__center__right__item-2 {
        width: 250px;
        height: 28px;
        margin-right: 20px;
      }

      .impressive__price {
        width: 112px;
        height: 28px;
        background-color: #029a49;
        border-radius: 16px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 15px;

        .impressive__price__text {
          font-family: var(--font-family);
          font-size: 14px;
          font-weight: normal;
          color: #ffff;
          text-decoration: none;
        }
      }
    }

    .impressive__center__left {
      width: 660px;
      height: 74px;

      margin-right: 40px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      column-gap: 11px;

      .impressive__center__left__item {
        width: 74px;
        height: 74px;
        border-radius: 50%;
        background-color: #ffff;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-flow: row wrap;
        column-gap: 3px;

        .impressive__left__item-1 {
          width: 58px;
          height: 58px;
          display: block;
          object-fit: contain;
          padding: 3px;
          margin-top: 8px;
        }

        .impressive__left__text {
          width: 34px;
          height: 20px;
          background-color: #d32f2f;
          border-radius: 6px;
          margin-left: 30px;
          margin-top: -10px;

          .impressive__text-1 {
            font-family: var(--font-number);
            font-size: 12px;
            padding: 0 4px;
            font-weight: normal;
            color: #ffff;
            text-decoration: none;
          }
        }
      }

      .impressive__left__button {
        width: 144.14px;
        height: 50px;
        background-color: #ffff;
        border-radius: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        .impressive__button__text {
          font-family: var(--font-family);
          font-size: 12px;
          color: #029a49;
          font-weight: bold;
          text-decoration: none;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          justify-content: center;

          .impressive__button__use {
            width: 28px;
            height: 28px;
            margin-top: 6px;
          }
        }
      }
    }
  }
}
